<!-- <ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <br>
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col class="ion-no-margin ion-no-padding" size="6" *ngFor="let item of [1,2,3,4,5,6,7,8]; let i=index">
      <ion-card button>
        <ion-card-header>
          <div class="centrar">
            <!-- <img [src]="image" alt=""> -->
            <img width="20px" src="../../../assets/svg/walk.svg" alt="">
          </div>
          <ion-card-subtitle class="centrar">Awesome Subtitle</ion-card-subtitle>
          <ion-card-title class="centrar">Categoria {{i+1}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="centrar">
          Awesome content
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
