<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    
    <!-- <ion-tab-button tab="jobs">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="home">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Conf.</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>