<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="pega-primary">
   
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{formObjeto.get('_nombre').value}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="verMenu($event)">
        <ion-icon color="light" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 

  </ion-toolbar>
</ion-header>

<ion-content color="pega-primary" >

  <div class="container" style="height: 100%;"> 
    <form [formGroup]="formObjeto" (ngSubmit)="onSubmit()">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Vicente Vera</ion-card-subtitle>
          <ion-card-title>Abogado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <img [src]="image">
          </div>
          <div> Codigo QR </div>

          <ion-list>
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>
    </form>
  </div>

  
</ion-content>