ion-col {
    text-align: center;
    img{
    width: 70px !important;
    height: 70px !important;
    text-align: center;
    }
}

img{
    margin-bottom: 0.5rem !important;
    text-align: center;
}

ion-card{
    height: 100% !important;
}

form{
    height: 100% !important;
}

// .container-perfil {
//     text-align: center;
  
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);

//     height: 100%;
//   }