

ion-item{
    border-radius: 2rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    // --ion-background-color: white !important;
    // --ion-boder-color: blue !important;
    // --ion-background-color: transparent !important;
    // --ion-border-color: transparent !important;
    text-align: center !important;
    --color: var(--ion-color-dark);
    ion-label{
        color: var(--ion-color-pega-primary);
    }
}

 .item-has-focus{
    --highlight-background: #e2e2e2;
    ion-label{
        color: var(--ion-color-pega-primary)
    }
 }

 ion-button{
    margin-top: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;  
    // padding-left: 1rem !important;
    // padding-right: 1rem !important;   
 }

 img{
    width: 80px;
    height: 80px;
 }

