<ion-header [translucent]="true" class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
  <ion-searchbar color="light" mode="ios" placeholder="Filter Pizza" inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="never" ></ion-searchbar>
</ion-header>

<ion-content  [fullscreen]="true" color="pega-primary">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
<!--
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-card routerLink="/perfil" routerLinkActive="router-link-active"  button *ngFor="let item of [1,2,3,4,5,6,7,8] ; let i=index">
    <ion-row>
      <ion-col size="3">
        <div id="container">
          <!-- <img [src]="image" alt=""> -->
          <img  src="../../../assets/svg/person.svg" alt="">
        </div>

      </ion-col>
      <ion-col size="9">
        <ion-card-header>
          <ion-card-subtitle>tipo de trabajo {{i+1}}</ion-card-subtitle>
          <ion-card-title>Nombre del Trabajador {{i+1}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-chip color="primary" mode="ios" outline="true">
            <img width="20px" src="../../../assets/svg/star.svg" />
            <img width="20px" src="../../../assets/svg/star.svg" />
            <img width="20px" src="../../../assets/svg/star.svg" />
            <img width="20px" src="../../../assets/svg/star-outline.svg" />

            <!-- <ion-avatar>
              <img src="../../../assets/svg/star.svg" />
            </ion-avatar>
            <ion-label>Chip Avatar</ion-label> -->
          </ion-chip>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
